<!-- navigation -->
<!-- <div id="navbar">
    <div class="navbar-inner clearfix">
        <a href="" class="brand"></a>
        <form action="/" id="search_form">
            <input type="text" id="q" name="q" class="search-query span3" value="">
        </form>
        <nav>
            <a href="/">首页</a>
            <a href="/getstart">新手入门</a>
            <a href="/api">API</a>
            <a href="/about" target="">关于</a>
            <a href="/signup">注册</a>
            <a href="/signin">登录</a>
        </nav>
    </div>
</div> -->
<!-- navigation end -->
