<!-- sidebar -->
<div id="sidebar">
    <!-- <div class="panel">
        <div class="inner">
            个人信息
        </div>
    </div>
    <div class="panel">
        <div class="inner">
            发表主题
        </div>
    </div>
    <div class="panel">
        <div class="inner">
            CNode：Node.js专业中文社区
        </div>
    </div>

    <div class="panel">
        <div class="inner">
            广告
        </div>
    </div>
    <div class="panel">
        <div class="inner">
            无人回复的话题
        </div>
    </div>
    <div class="panel">
        <div class="inner">
            积分榜 TOP 100 >>
        </div>
    </div>
    <div class="panel">
        <div class="inner">
            友情社区
        </div>
    </div>
    <div class="panel">
        <div class="inner">
            客户端二维码
        </div>
    </div> -->
</div>
<!-- sidebar end -->
