body, html {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.clearfix:after, .container-fluid:after, .container:after, .dl-horizontal:after, .row-fluid:after, .row:after {
    clear: both;
    display: table;
    line-height: 0;
    content: "";
}

/* navbar start */
#navbar {
    margin-bottom: 0;
    z-index: 9;
    width: 100%;
    position: relative;
    background: #444;
    font-size: 13px;
}
.navbar-inner {
    background: 0 0;
    border-radius: 0;
    border: none;
    box-shadow: none;
    width: 90%;
    margin: auto;
    padding: 5px;
}
#navbar .brand {
    width: 120px;
    padding: 3px 20px;
    height: 34px;
    line-height: 34px;
    color: #ccc;
    font-weight: 700;
    display: block;
    float: left;
    margin-left: -20px;
    font-size: 20px;
}
#navbar .search-query {
    position: relative;
    float: left;
    background: url(/public/images/search.png) 4px 4px no-repeat #888;
    padding: 3px 5px 3px 22px;
    color: #666;
    border: 0;
    margin-top: 2px;
    transition: all .5s;
    margin-bottom: 0;
    font-size: 13px;
    font-weight: 400;
    line-height: 1;
    border-radius: 15px;
    width: 206px;
}
#navbar .navbar-search {
    margin-top: 6px;
    float: left;
    margin-top: 5px;
    margin-bottom: 0;
}

#navbar nav {
    position: relative;
    left: 0;
    display: block;
    float: right;
    margin: 0 10px 0 0;
}
/* navbar end */

/* main start */
#main {
    width: 90%;
    max-width: 1400px;
    min-width: 960px;
    margin: 15px auto;
    min-height: 400px;
}
/* main end */

/* sidebar start */
#sidebar {
    width: 290px;
    font-size: 14px;
    float: right;
    margin-bottom: 20px;
}
/* sidebar end */
