<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../layout/head'); %>
</head>

<body>
    <div class="header-wrapper">
        <%- include('../layout/header'); %>
    </div>
    <!-- main -->
    <div id="main">
        <div class="content-wrapper" id="content">
            <el-form ref="form" :model="form" label-width="80px">
                <el-form-item label="文章名称">
                    <el-input v-model="form.name"></el-input>
                </el-form-item>
                <el-form-item label="文章内容">
                    <el-input type="textarea" v-model="form.desc"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="onSubmit">发布</el-button>
                    <el-button>取消</el-button>
                </el-form-item>
            </el-form>
        </div>
        <script>
            const app = new Vue({
                el: '#content',
                data: {
                    form: {
                        name: '',
                        desc: ''
                    }
                },
                methods: {
                    onSubmit() {
                        axios.post('/api/posts', {
                            params: this.form
                        })
                            .then(function (response) {
                                console.log(response);
                            })
                            .catch(function (error) {
                                console.log(error);
                            });
                    }
                }
            })
        </script>
        <div class="sidebar-wrapper">
            <%- include('../layout/sidebar'); %>
        </div>
    </div>
    <!-- main end -->
    <!-- footer -->
    <div id="footer-wrapper">
        <%- include('../layout/footer'); %>
    </div>
    <!-- footer end -->
</body>

</html>
