body {
    background-color: #dedede;
}

.app {
  text-align: center;
  width: 640px;
  margin: 0 auto;
  background: #fff;
  min-height: 100vh;
}

main.home .info-warp{
    width: 400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 50% 50%;
}
