<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    {{!-- lib --}}
    <script src="/lib/vue/2.5.13/vue.min.js"></script>
    <link rel='stylesheet' href='/lib/element-ui/2.1.0/index.css' />
    <script src="/lib/element-ui/2.1.0/index.js"></script>
    <link rel="stylesheet" href="/lib/highlight/arta.css">
    <script src="/lib/highlight/highlight.js"></script>
    <script src="/lib/socket.io/socket.io.js"></script>
    <script>hljs.initHighlightingOnLoad();</script> {{!-- custom --}}
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/js/utils.js"></script>
</head>

<body>
    <div id="app">
    </div>
    {{{body}}}
</body>

</html>
